{% extends "template.html" %}

{% block title %}Listing Details{% endblock %}

{% block styles %}

<script type="text/javascript">
	window.onload = function() {
		$("#favButton").click(function(ev) {
			ev.preventDefault();

			listing_id = $(this).attr("data-list");

			$.get("/list/" + listing_id + "/favorite", function(data) {
				if(data["status"] == "ok") {
					if(data["message"].indexOf("added") != -1)
						$("#favButton").text("Remove from favorites");
					else
						$("#favButton").text("Add to favorites");

					$("#alertMessage").text(data["message"]);
					$("#alertMessage").css("display", "block");
					$("#alertMessage").delay(1000).fadeOut(400);
				} else
					alert("Error");
			});
		});
	}
</script>

{% endblock %}

{% block content %}

{% if listing %}
<div>
	<a type="button" class="btn btn-danger" href="{% url 'delete_listing' listing.id %}">Delete</a>
	<a id="favButton" type="button" class="btn btn-success" href="{% url 'favorite' listing.id %}" data-list="{{ listing.id }}">
	{% if is_fav == 0 %}
		Add to favorites
	{% else %}
		Remove from favorites
	{% endif %}
	</a>


	<div class="my_details">
		<div>
			<p>Title: </p>
			<p>{{listing.title}}</p>
		</div>
		<div>
			<p>Description: </p>
			<p>{{listing.description}}</p>
		</div>
		<div>
			<p>Last updated at: </p>
			<p> {{listing.updated.year}}.{{listing.updated.month}}.{{listing.updated.day}}</p>
		</div>
		<div>
			<p>City: </p>
			<p>{{listing.estate_id.city}}</p>
		</div>
		<div>
			<p>Adress: </p>
			<p>{{listing.estate_id.address}}</p>
		</div>
		<div>
			<p>Price: </p>
			<p>{{listing.estate_id.price}}</p>
		</div>
		<div>
			<p>Rooms: </p>
			<p>{{listing.estate_id.rooms}}</p>
		</div>
		<div>
			<p>Bathrooms: </p>
			<p>{{listing.estate_id.bathrooms}}</p>
		</div>
		<div>
			<p>Size: </p>
			<p>{{listing.estate_id.size}}</p>
		</div>
		<div>
			<p>Price: </p>
			<p>{{listing.estate_id.estimated_price}}</p>
		</div>
		<div>
			<p>Built year: </p>
			<p>{{listing.estate_id.year}}</p>
		</div>
		<div>
			<p>Distance to centre: </p>
			<p>{{listing.estate_id.distance_to_centre}}</p>
		</div>
		<div>
			<p>Email: </p>
			<p>{{listing.user_id.email}}</p>
		</div>
		<div>
			<p>Phone: </p>
			<p>{{listing.user_id.phone_number}}</p>
		</div>
		<div>
			<p>User: </p>
			<p>{{listing.user_id.first_name}}</p>
			<p>{{listing.user_id.last_name}}</p>
		</div>
	</div>
</div>

<div id="alertMessage" class="alert alert-success" role="alert" style="position: fixed; width: 23%; bottom: 100px; left: 50%; transform: translateX(-50%); display: none;"></div>

{% else %}

<h5> No listing found. Please try another.</h5>

{% endif %}

{% endblock %}