{% extends "template.html" %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/list-listings.css' %}" />
{% endblock %}


{% block content %}
<div class='container'>

{% if messages|length %}

{% regroup messages by listing_id as messages_list %}

<ul>
	{% for listing_id in messages_list %}
		<li><a href="{% url 'details_listing' listing_id.grouper.id %}">{{ listing_id.grouper.title }}</a>
		<ul>
			{% for item in listing_id.list %}
			<li>From {{ item.sender_id.first_name }} {{ item.sender_id.last_name }}: {{ item.message}}</li>
			{% endfor %}
		</ul>
		</li>
	{% endfor %}
</ul>


{% else %}

<h5 class="listings-empty-content">No messages available.</h5>

{% endif %}
</div>
{% endblock %}