{% extends "template.html" %}
{% load static %}

{% block title %}Listings{% endblock %}

{% block content %}
<h2>All listings</h2>

{% if listings|length %}

<div class='container'>
	{% for listing in listings %}
	<a class='apartment' href="{% url 'details_listing' listing.id %}" 
     style="background-image:url('{{ listing.estate_id.image.url }}');">
    	<div class='details-container'>
      		<div class='price-container-wrapper'>
        		<div class='city'>{{ listing.estate_id.city }}</div>
        		<div class='price'>{{ listing.estate_id.price }}</div>
      		</div>
    	</div>
  	</a>
	{% endfor %}

</div>

{% else %}

<h5> No listings available.</h5>

{% endif %}

{% endblock %}