{% extends "template.html" %}
{% load static %}

{% block title %}Listings{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/list-listings.css' %}" />
{% endblock %}

{% block content %}
<div class='container'>

{% if listings|length %}

	{% for listing in listings %}
	<a class="listing  {{ listing.is_closed }}" href="{% url 'details_listing' listing.id %}"
     style="background-image:url('{% if listing.estate_id.image %}{{ listing.estate_id.image.url }}{% endif %}');">
    	<div class='details-container'>
      		<div class='price-container'>
        		<div class='city'>{{ listing.estate_id.city }}</div>
        		<div class='price'>{{ listing.estate_id.price }}</div>
      		</div>
    	</div>
  	</a>
	{% endfor %}


{% else %}

<h5 class="listings-empty-content">No listings available.</h5>

{% endif %}
</div>
{% endblock %}