<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <title>{% block title %}Real Market Estate{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" /> {% block styles %} {%endblock%}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>

    <script type="text/javascript" src="{% static 'js/nav-functions.js' %}"></script>

</head>

<body>
    <div class="main-container">
        {% block navbar %}
        <nav class='navbar navbar-expand-lg navbar-light bg-light'>
            {% block sidebar %} {% endblock %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_listings' %}">Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add' %}">Add Listing</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown">
                            <i class="fas fa-user fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'list_my_listings' %}">My Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'fav_listings' %}">Favorites</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt fa-lg"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %} {% block filter %} {% endblock %} {% block content %} {% endblock %}
    </div>
</body>

</html>