.listing{
  height:200px;
  width:300px;
  background-color:white;
  margin: 20px;
  position: relative;
  flex-grow:1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid grey;
  border-radius: 10px;
}

.container{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.details-container{
  width:100%;
  background-color: rgba(0,0,0,0.5);
  height:20%;
  position:absolute;
  transition: height 0.5s;
  border-radius:10px;
}

.price-container{
  position: absolute;
  font-size:16px;
  color: white;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

.listing:hover >.details-container{
    height: 40%;
  }

.listing:hover .city{
  display: block;
}

.listing.True > .details-container{
  height: 100%;
  position: relative;
}

.listing.True .price-container{
  display:none;
}

.listing.True:hover > .details-container{
  height: 100%;
}

.listing.True > .details-container::after{
  content:'CLOSED';
  font-size: 2rem;
  font-family: serif;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white;

}

.city{
  display:none;
  font-size:18px;
}

.price::after{
  content: ' RON';
}